<html ng-app="app">
<head>
    <link href="bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="angular.js"></script>
    <script src="main.js"></script>
    <script src="contract-edit.js"></script>
</head>

<body>
<header class="navbar navbar-inverse navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="icon-bar"></span><a href="../" class="navbar-brand">Contract Fulfillment System</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <span style="color:white;">Welcome chunmei</span>
        </div>
    </div>
</header>

<div ng-controller="contractEditCtrl">
    <div class="container">
        <h1>Contract</h1>

        <h3>Customer Contact Information</h3>
        <hr>
        <table style="margin-left:20px;">
            <tr>
                <td><label>Company</label></td>
                <td><input class="form-control" ng-model="contact.company"/></td>
            </tr>
            <tr>
                <td><label>Reg Number</label></td>
                <td><input class="form-control" ng-model="contact.regNumber"/></td>
            </tr>
            <tr>
                <td><label>Primary Contact</label></td>
                <td><input class="form-control" ng-model="contact.primaryContact"/></td>
            </tr>
            <tr>
                <td><label>Title</label></td>
                <td><input class="form-control" ng-model="contact.title"/></td>
            </tr>
            <tr>
                <td><label>Address</label></td>
                <td><input class="form-control" ng-model="contact.address"/></td>
            </tr>
            <tr>
                <td><label>Town Postal Code</label></td>
                <td><input class="form-control" ng-model="contact.postcode"/></td>
            </tr>
            <tr>
                <td><label>Phone</label></td>
                <td><input class="form-control" ng-model="contact.phone"/></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input class="form-control" ng-model="contact.email"/></td>
            </tr>
            <tr>
                <td><label>Fax</label></td>
                <td><input class="form-control" ng-model="contact.fax"/></td>
            </tr>
        </table>

        <h3>Billing Contact Information</h3>
        <hr>
        <table style="margin-left:20px;">
            <tr>
                <td><label>Company</label></td>
                <td><input class="form-control" ng-model="bill.company"/></td>
            </tr>
            <tr>
                <td><label>Primary Contact</label></td>
                <td><input class="form-control" ng-model="bill.primaryContact"/></td>
            </tr>
            <tr>
                <td><label>Title</label></td>
                <td><input class="form-control" ng-model="bill.title"/></td>
            </tr>
            <tr>
                <td><label>Address</label></td>
                <td><input class="form-control" ng-model="bill.address"/></td>
            </tr>
            <tr>
                <td><label>Town Postal Code</label></td>
                <td><input class="form-control" ng-model="bill.postcode"/></td>
            </tr>
            <tr>
                <td><label>Phone</label></td>
                <td><input class="form-control" ng-model="bill.phone"/></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input class="form-control" ng-model="bill.email"/></td>
            </tr>
            <tr>
                <td><label>Fax</label></td>
                <td><input class="form-control" ng-model="bill.fax"/></td>
            </tr>
        </table>


        <h3>General Agreement</h3>
        <hr>
        <div class="row">
            <label class="col-md-2">Start Time:</label>

            <div class="col-md-3">
                <input class="form-control" ng-model="contract.startDate" type="date">
            </div>

            <label class="col-md-2">End Time:</label>

            <div class="col-md-3">
                <input class="form-control" ng-model="contract.endDate" type="date">
            </div>
        </div>

        <h3>Product List</h3>
        <div class="row">
            <label class="col-md-2">Product Code</label>
            <label class="col-md-1">Taxable</label>
            <label class="col-md-1">Free</label>
            <label class="col-md-2">Price</label>
            <label class="col-md-2">Units</label>
            <label class="col-md-2">Start Date</label>
            <label class="col-md-2">End Date</label>
        </div>
        <div ng-repeat="product in contract.products">
            <div class="row">
                <span class="col-md-2">{{product.id}}</span>
                <span class="col-md-1">{{product.taxable}}</span>
                <span class="col-md-1">{{product.free}}</span>
                <span class="col-md-2">{{product.price}}</span>
                <span class="col-md-2">{{product.units}}</span>
                <span class="col-md-2">{{product.startDate}}</span>
                <span class="col-md-2">{{product.endDate}}</span>
            </div>
        </div>

        <h3>Notes</h3>
        <textarea class="form-control" rows="5" ng-model="contract.notes"></textarea>
    </div>

</div>
</div>

</body>
</html>
