#contract-list{
  //color: red;
}

#contract-list .tb-contracts{
  background-color: #eaeaea;
}

#contract-list .tb-contracts .tb-product{
  border-color: green;
  border-style: dashed;
  border-width: thin;
}

#contract-filter{
  margin-left: 0;
  margin-bottom: 10px;
}

.filter{
  width: 40% !important;
}

.filter-item{
  margin-bottom: 2px;
}

.tb_contract_icons{
  margin-left: 5px;
}


