<html ng-app="app">
<head>
    <link href="bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="application.css" rel="stylesheet">
    <script src="angular.js"></script>
    <script src="main.js"></script>
    <script src="contract-edit.js"></script>
    <script src="data-repo.js"></script>
</head>

<body ng-controller="MainCtrl">
<header class="navbar navbar-inverse navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="icon-bar"></span><a href="../" class="navbar-brand">Contract Fulfillment System</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <span style="color:white;">Welcome {{currentUser}}</span>
        </div>
    </div>
</header>

<div ng-controller="contractEditCtrl">
    <div class="container">
        <span style="font-size:36px;">Contract</span>

        <div class="pull-right">
            <input type="button" class="btn btn-default" value="New"
                   ng-click="setStatus('new')"
                   ng-disabled="!isNextStatus('new')"
                   ng-class="{'btn-success': isDone('new'),'btn-warning':isNextStatus('new')}">
            <span class="glyphicon glyphicon-arrow-right"></span>
            <input type="button" class="btn btn-default btn-success" value="Proposal"
                   ng-click="setStatus('proposal')"
                   ng-disabled="!isNextStatus('proposal')"
                   ng-class="{'btn-success': isDone('proposal'),'btn-warning':isNextStatus('proposal')}">
            <span class="glyphicon glyphicon-arrow-right"></span>
            <input type="button" class="btn btn-default" value="Pending"
                   ng-click="setStatus('pending')"
                   ng-disabled="!isNextStatus('pending')"
                   ng-class="{'btn-success': isDone('pending'),'btn-warning':isNextStatus('pending')}">
            <span class="glyphicon glyphicon-arrow-right"></span>
            <input type="button" class="btn btn-default" value="Paid"
                   ng-click="setStatus('paid')"
                   ng-disabled="!isNextStatus('paid')"
                   ng-class="{'btn-success': isDone('paid'), 'btn-warning':isNextStatus('paid')}">
            <span class="glyphicon glyphicon-arrow-right"></span>
            <input type="button" class="btn btn-default" value="Finished"
                   ng-click="setStatus('finished')"
                   ng-disabled="!isNextStatus('finished')"
                   ng-class="{'btn-success': isDone('finished'), 'btn-warning':isNextStatus('finished')}">

            <div ng-if="isDone('pending')" style="padding-top:10px;">
                <input class="pull-right" required ng-if="!hasContractNumber" ng-model="contract.contractNumber">
                <label class="pull-right">Contract Number </label>
                <span class="pull-right" ng-if="hasContractNumber">Contract Number: {{contract.contractNumber}}</span>
            </div>
        </div>

        <i style="font-size:11px; color:gray;">Created at {{contract.createDt}}, and last modified at
            {{contract.lastModified}}.</i>

        <div style="padding-top: 10px;">
            <input type="button" class="btn btn-primary" ng-click="save()" value="Save All My Changes">
        </div>

        <h3>Contract Type</h3>

        <div class="container">
            <div style="padding-bottom: 10px;"><input ng-disabled="isReadOnly" ng-model="contract.isNewCustomer"
                                                      type="checkbox"><span> New Customer</span>
            </div>

            <div ng-if="!isReadOnly" class="row">
                <div class="col-sm-1">
                    <label>AccountDID</label>
                </div>
                <div class="col-sm-4">
                    <input class="form-control" ng-model="contract.accountdid">
                </div>
                <div class="col-sm-1">
                    <label>Sales Rep
                    </label>
                </div>
                <div class="col-sm-4">
                    <input readonly class="form-control" ng-model="currentUser">
                </div>
            </div>

            <div ng-if="isReadOnly">
                <h4>AccountDID: {{contract.accountdid}}, Sales Rep: {{contract.userId}}</h4>
            </div>

            <div class="bs-callout bs-callout-info" ng-click="isContactCollapsed = !isContactCollapsed">
                <span class="sectionTitle">Contact Information: </span>
                <b>{{contact.company}}</b>
                <i class="sectionTitle pull-right glyphicon glyphicon-chevron-down"
                   ng-class="{'glyphicon-chevron-right': isContactCollapsed, 'glyphicon-chevron-down': !isContactCollapsed}"></i>
            </div>

            <div ng-show="!isContactCollapsed">
                <table>
                    <tr>
                        <td><label>Company</label></td>
                        <td><input class="form-control" ng-model="contact.company"/></td>
                    </tr>
                    <tr>
                        <td><label>Reg Number</label></td>
                        <td><input class="form-control" ng-model="contact.regNumber"/></td>
                    </tr>
                    <tr>
                        <td><label>Primary Contact</label></td>
                        <td><input class="form-control" ng-model="contact.primaryContact"/></td>
                    </tr>
                    <tr>
                        <td><label>Title</label></td>
                        <td><input class="form-control" ng-model="contact.title"/></td>
                    </tr>
                    <tr>
                        <td><label>Address</label></td>
                        <td><input class="form-control" ng-model="contact.address"/></td>
                    </tr>
                    <tr>
                        <td><label>Town Postal Code</label></td>
                        <td><input class="form-control" ng-model="contact.postcode"/></td>
                    </tr>
                    <tr>
                        <td><label>Phone</label></td>
                        <td><input class="form-control" ng-model="contact.phone"/></td>
                    </tr>
                    <tr>
                        <td><label>Email</label></td>
                        <td><input type="email" class="form-control" ng-model="contact.email"/></td>
                    </tr>
                    <tr>
                        <td><label>Fax</label></td>
                        <td><input class="form-control" ng-model="contact.fax"/></td>
                    </tr>
                </table>
            </div>

            <div class="bs-callout bs-callout-info" ng-click="isBillingCollapsed = !isBillingCollapsed">
                <span class="sectionTitle">Billing Information: </span>
                <b>{{bill.company}}</b>
                <i class="sectionTitle pull-right glyphicon glyphicon-chevron-down"
                   ng-class="{'glyphicon-chevron-right': isBillingCollapsed, 'glyphicon-chevron-down': !isBillingCollapsed}"></i>
            </div>

            <div ng-show="!isBillingCollapsed">
                <div ng-if="!isReadOnly">
                    <input type="button" class="btn btn-link pull-right" ng-click="copyContact()"
                           value="Copy Billing Info from Contact Info">
                </div>

                <table>
                    <tr>
                        <td><label>Company</label></td>
                        <td><input class="form-control" ng-readonly="isReadOnly" ng-model="bill.company"/></td>
                    </tr>
                    <tr>
                        <td><label>Primary Contact</label></td>
                        <td><input class="form-control" ng-model="bill.primaryContact"/></td>
                    </tr>
                    <tr>
                        <td><label>Title</label></td>
                        <td><input class="form-control" ng-model="bill.title"/></td>
                    </tr>
                    <tr>
                        <td><label>Address</label></td>
                        <td><input class="form-control" ng-model="bill.address"/></td>
                    </tr>
                    <tr>
                        <td><label>Town Postal Code</label></td>
                        <td><input class="form-control" ng-model="bill.postcode"/></td>
                    </tr>
                    <tr>
                        <td><label>Phone</label></td>
                        <td><input class="form-control" ng-model="bill.phone"/></td>
                    </tr>
                    <tr>
                        <td><label>Email</label></td>
                        <td><input type="email" class="form-control" ng-model="bill.email"/></td>
                    </tr>
                    <tr>
                        <td><label>Fax</label></td>
                        <td><input class="form-control" ng-model="bill.fax"/></td>
                    </tr>
                </table>
            </div>

        </div>

        <h3>General Agreement</h3>

        <div class="container row">
            <label class="col-md-2">Start Time:</label>

            <div class="col-md-3">
                <input class="form-control" ng-model="contract.startDate" type="date">
            </div>

            <label class="col-md-2">End Time:</label>

            <div class="col-md-3">
                <input class="form-control" ng-model="contract.endDate" type="date">
            </div>
        </div>

        <h3>Product List</h3>

        <div class="container">
            <table class="table table-striped" style="table-layout:fixed">
                <thead>
                <tr>
                    <td width="10%">Product Code</td>
                    <td width="5%">Taxable</td>
                    <td width="5%">Free</td>
                    <td width="9%">Price</td>
                    <td width="5%">GST Price</td>
                    <td width="8%">Units</td>
                    <td width="14%">Start Date</td>
                    <td width="14%">End Date</td>
                    <td width="15%">Advanced Option</td>
                    <td width="10%">Status</td>
                    <td width="5%">Actions</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in contract.products">
                    <td>{{product.id}}</td>
                    <td><input type="checkbox" disabled ng-model="product.taxable"></td>
                    <td><input type="checkbox" ng-click="resetPrice($index)" ng-model="product.free"></td>
                    <td><input class="form-control" type="number" ng-disabled="product.free" ng-model="product.price"
                               ng-blur="countPrices()">
                    </td>
                    <td><span>{{product.gstPrice}}</span></td>
                    <td><input class="form-control" type="number" ng-model="product.units" ng-blur="countPrices()"></td>
                    <td><input class="form-control" type="date" ng-model="product.startDate"></td>
                    <td><input class="form-control" type="date" ng-model="product.endDate"></td>
                    <td><input class="form-control" type="text" ng-model="product.options"></td>
                    <td><input class="form-control" type="text" ng-model="product.status"></td>
                    <td><span ng-click="removeProduct($index)" class="glyphicon glyphicon-remove"></span></td>
                </tr>
                </tbody>
            </table>
            <div>
                <div class="pull-right label-warning" style="padding:10px; margin-right:20px;">
                    <div><span>Total (exclusive GST): <b>{{contract.totalNonGST}}</b></span></div>
                    <div><span>Applicable GST: <b>{{contract.totalGST}}</b> </span></div>
                    <div><span>Total (Inclusive GST): <b>{{contract.totalPrice}}</b></span></div>
                </div>

            </div>

            <div style="clear:both;"></div>

            <div class="row">
                <div class="col-sm-3">
                    <label>Business Group</label>
                    <select class="form-control" ng-model="newProduct.group">
                        <option ng-repeat="group in groups">{{group}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Product Line</label>
                    <select class="form-control" ng-model="newProduct.line">
                        <option ng-repeat="line in productLines">{{line}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label>Sub Line</label>
                    <select class="form-control" ng-model="newProduct.subline">
                        <option ng-repeat="subline in subLines">{{subline}}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label>Product Name</label>
                    <select class="form-control" ng-model="newProduct.id">
                        <option ng-repeat="product in products "
                                ng-value="product.id">{{product.title}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="button" ng-click="addProduct()" class="btn btn-success" value="Add"
                           style="margin-top:10px;">
                </div>

            </div>

        </div>


        <h5 style="color: gray">Notes</h5>
        <textarea class="form-control" rows="5" ng-model="contract.notes"></textarea>
    </div>

</div>
</div>

</body>
</html>
